In [33]:
import os
import pandas as pd
import dataframe_image as dfi
from slugify import slugify
from pathlib import Path
from bk import Operating_Cost

overview = pd.DataFrame()
overview.name='Monatliche Kosten im Verlgeich'

def df_style(val):
    # return "font-weight: bold; background: yellow"
    return "font-weight: bold;"

def light_style(val):
    return "color: grey"

In [34]:
#d_0 = 1.52  # Aktueller Dieselpreis 3.1.2022: 1.52
b_0 = 1.70  # Aktueller Benzinpreis 3.1.2022: 1.56
e_0 = 0.31  # Aktueller Strompreis 3.1.2022: 0.31 â‚¬/kWh
# e_0 = 0.79  # Superchargin worst case

down_payment_buy = 15000
down_payment_lease = 3000


cars = []       
cars.append({'label': 'BMW 318d 2011',
             'acquisition_cost': 16903,
             'government_funding': 0,
             'down_payment': 0,
             'car_year': 2011,
             'delivery_time': 0,
             'interest_rate': 0.,
             'rest_value': 3000,
             'insurance_yearly': 775,
             'taxes_yearly': 230,
             'consumption': 6.38,
             'power': 137,
             'fuel_price': 1.19,  # Durchschnittlicher Dieselpreis seit 2015
             'fuel_type': 'Diesel',
             'fuel_unit': 'l',
             'repairs_yearly': 2016.32,
             'millage_yearly': 26000,
             'holding_period': 6.85,
             'image_url': 'cars/bmw-3er-maximus.png',
             'web_url': 'https://de.wikipedia.org/wiki/BMW_E90',
             'buy': True,  # else lease
             'estimate': False
            }
           )
cars.append({'label': 'Nissan Micra 2010',
             'acquisition_cost': 3300,
             'government_funding': 0,
             'down_payment': 3300,
             'car_year': 2011,
             'delivery_time': 0,
             'interest_rate': 0.,
             'rest_value': 2000,
             'insurance_yearly': 361.76,
             'taxes_yearly': 64,
             'consumption': 6.6,
             'power': 65,
             'fuel_price': 1.36,  # Durchschnittlicher Dieselpreis seit 2016
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 395.40,
             'millage_yearly': 3216,
             'holding_period': 5.5,  
             'image_url': 'cars/nissan-micra.jpg',
             'web_url': 'https://de.wikipedia.org/wiki/Nissan_Micra#Micra_(K12,_2003%E2%80%932010)',
             'buy': True,  # else lease
             'estimate': False
            }
           )
cars.append({'label': 'Tesla Model Y',
             'acquisition_cost': 52970,
             'government_funding': 5000,
             'down_payment': down_payment_buy + 5000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 10000,
             'insurance_yearly': 459.78,
             'taxes_yearly': 0,
             'consumption': 16.,
             'power': 514,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/tesla-model-y.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview',
             'buy': True,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Tesla Model Y',
             'instalment': 533,
             'government_funding': 5000,
             'down_payment': down_payment_lease + 5000,
             'car_year': 2022,
             'delivery_time': 4,
             'rest_value': 9000,
             'insurance_yearly': 566.90,
             'taxes_yearly': 0,
             'consumption': 16.,
             'power': 514,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 4.0,   
             'image_url': 'cars/tesla-model-y-leasing.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview',
             'buy': False,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Tesla Model 3',
             'acquisition_cost': 43970,
             'government_funding': 6000,
             'down_payment': down_payment_buy + 6000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 8500,
             'insurance_yearly': 544,
             'taxes_yearly': 0,
             'consumption': 15.,
             'power': 325,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/tesla-model-3.jpg',
             'web_url': 'https://www.tesla.com/de_de/model3/design#overview',
             'buy': True,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Tesla Model 3',
             'instalment': 360,
             'government_funding': 6000,
             'down_payment': down_payment_lease + 6000,
             'car_year': 2022,
             'delivery_time': 4,
             'insurance_yearly': 673.60,
             'taxes_yearly': 0,
             'consumption': 15.,
             'power': 325,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 4.0,   
             'image_url': 'cars/tesla-model-3-leasing.jpg',
             'web_url': 'https://www.tesla.com/de_de/model3/design#overview',
             'buy': False,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Hyundai Ioniq 5',
             'acquisition_cost': 48536.05,
             'government_funding': 6000,
             'down_payment': down_payment_buy + 6000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 8500,
             'insurance_yearly': 497.86+9.6,
             'taxes_yearly': 0,
             'consumption': 26.1,
             'power': 231,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/hyundai-ioniq-5.png',
             'web_url': 'https://konfigurator.meinauto.de/hyundai/neuwagen/ioniq/angebote/ioniq-5/konfigurator/#!/extras/-/8865700/14,19,41/private/104690-6897-293274/4864/61e90b0c48e55/cash-purchase/104690-6897-293274/24,9000,15000,0,0,0,0,0,',
             'buy': True,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Hyundai Ioniq 5',
             'instalment': 455.10,
             'government_funding': 6000,
             'down_payment': down_payment_lease + 6000,
             'car_year': 2022,
             'delivery_time': 4,
             'insurance_yearly': 624.53,
             'taxes_yearly': 0,
             'consumption': 26.1,
             'power': 231,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 2.0,   
             'image_url': 'cars/hyundai-ioniq-5.png',
             'web_url': 'https://konfigurator.meinauto.de/hyundai/neuwagen/ioniq/angebote/ioniq-5/konfigurator/#!/extras/-/8865700/14,19,41/private/104690-6897-293274/4864/61e90b0c48e55/leasing/104690-6897-293274/24,9000,15000,0,0,0,0,0,',
             'buy': False,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Mazda 6',
             'acquisition_cost': 30643.19,
             'government_funding': 0,
             'down_payment': down_payment_buy,
             'car_year': 2022,
             'delivery_time': 20,
             'interest_rate': 2.,
             'rest_value': 6000,
             'insurance_yearly': 510.90,
             'taxes_yearly': 156,
             'consumption': 8.,
             'power': 192,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,  
             'image_url': 'cars/mazda-6-neu.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11/private/65352-5416-204698/984/61c9aa657e74c/cash-purchase/32545--287374/48,0,10000,0,0,0,0,0,',
             'buy': True,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Mazda 6',
             'instalment': 284.70,
             'government_funding': 0,
             'down_payment': down_payment_lease,
             'car_year': 2022,
             'delivery_time': 60,
             'rest_value': 3000,
             'insurance_yearly': 629.91,
             'taxes_yearly': 156,
             'consumption': 8.,
             'power': 192,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3,  
             'image_url': 'cars/mazda-6-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11,15/private/65352-5416-204698/984/61c9aa657e74c/leasing/16040--249432/36,3000,15000,0,0,0,0,0,',
             'buy': False,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Kia ceed',
             'acquisition_cost': 25209.43,
             'government_funding': 0,
             'down_payment': down_payment_buy,
             'car_year': 2022,
             'delivery_time': 52,
             'interest_rate': 2.,
             'rest_value': 5000,
             'insurance_yearly': 325.99,
             'taxes_yearly': 107,
             'consumption': 7.,
             'power': 160,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,
             'image_url': 'cars/kia-ceed-sportswagon.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/extras/spirit/8865371/3,11,27/private/109347-4167-291321/1321/61d21ce73c5db/cash-purchase/109348-8088-291322/48,0,10000,0,0,0,0,0,',
             'buy': True,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Kia ceed',
             'instalment': 227.42,
             'government_funding': 0,
             'down_payment': down_payment_lease,
             'car_year': 2022,
             'delivery_time': 52,
             'rest_value': 3000,
             'insurance_yearly': 395.58,
             'taxes_yearly': 107,
             'consumption': 7.,
             'power': 160,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3.0,
             'image_url': 'cars/kia-ceed-sportswagon-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/extras/spirit/8865371/3,11,27/private/109347-4167-291321/1321/61d21ce73c5db/leasing/109348-8088-291322/36,3000,15000,0,0,0,0,0,',
             'buy': False,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'VW Passat',
             'acquisition_cost': 30230.0,
             'government_funding': 0,
             'down_payment': down_payment_buy,
             'car_year': 2021,
             'delivery_time': 0,
             'interest_rate': 2.,
             'rest_value': 6000,
             'insurance_yearly': 351.35,
             'taxes_yearly': 98,
             'consumption': 7.5,
             'power': 150,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,
             'image_url': 'cars/vw-passat.jpg',
             'web_url': 'https://www.autosuche.de/auto/REVVNDQ3NjgwMjc5NzI=?t_manuf=BQ&t_petr=B&t_model=BQBM&t_gear=A&t_ez_fr=2020&t_pe_fr=35000&sort=PRICE_SALE&sortdirection=ASC&viewMode=tile',
             'buy': True,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'VW Passat',
             'instalment': 194.18 + 4557.50/36,
             'government_funding': 0,
             'down_payment': down_payment_lease,
             'car_year': 2022,
             'delivery_time': 0,
             'rest_value': 3000,
             'insurance_yearly': 423.07,
             'taxes_yearly': 98,
             'consumption': 7.5,
             'power': 150,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3.0,
             'image_url': 'cars/vw-passat-leasing.jpg',
             'web_url': 'https://www.autosuche.de/auto/REVVNDQ3NjgwMjc5NzI=?t_manuf=BQ&t_petr=B&t_model=BQBM&t_gear=A&t_ez_fr=2020&t_pe_fr=35000&sort=PRICE_SALE&sortdirection=ASC&viewMode=tile',
             'buy': False,  # else lease
             'estimate': True
            }
           )
cars.append({'label': 'Mercedes C 180',
             'acquisition_cost': 42755.83,
             'government_funding': 0,
             'down_payment': down_payment_buy,
             'car_year': 2022,
             'delivery_time': 60,
             'interest_rate': 2.,
             'rest_value': 8000,
             'insurance_yearly': 533.68,
             'taxes_yearly': 136,
             'consumption': 7.,
             'power': 170,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,  
             'image_url': 'cars/mercedes-c-180-t.png',
             'web_url': 'https://konfigurator.meinauto.de/mercedes/neuwagen/c-klasse/angebote/c-klasse-t-modell/konfigurator/#!/preisvergleich/-/8866563/2,47,74,81/private/43735-7309-290394/349/61d36ce4c3067/cash-purchase/73169--190162/48,0,10000,0,0,0,0,0,',
             'buy': True,  # else lease
             'estimate': True
            }
           )  
cars.append({'label': 'Mercedes C 180',
             'instalment': 494.30,
             'government_funding': 0,
             'down_payment': down_payment_lease,
             'car_year': 2022,
             'delivery_time': 60,
             'rest_value': 8000,
             'insurance_yearly': 663.76,
             'taxes_yearly': 136,
             'consumption': 7.,
             'power': 170,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3.0,  
             'image_url': 'cars/mercedes-c-180-t.png',
             'web_url': 'https://konfigurator.meinauto.de/mercedes/neuwagen/c-klasse/angebote/c-klasse-t-modell/konfigurator/#!/preisvergleich/-/8866563/2,47,74,81/private/43735-7309-290394/349/61d36ce4c3067/cash-purchase/73169--190162/48,0,10000,0,0,0,0,0,',
             'buy': False,  # else lease
             'estimate': True
            }
           )  
cars.append({'label': 'Skoda Scala',
             'acquisition_cost': 27619.05,
             'government_funding': 0,
             'down_payment': down_payment_buy,
             'car_year': 2022,
             'delivery_time': 60,
             'interest_rate': 2.,
             'rest_value': 5500,
             'insurance_yearly': 308.52,
             'taxes_yearly': 68,
             'consumption': 6.3,
             'power': 150,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,  
             'image_url': 'cars/skoda-scala.png',
             'web_url': 'https://konfigurator.meinauto.de/skoda/neuwagen/scala/angebote/scala-tour/konfigurator/#!/preisvergleich/tour/8868635/7,35,37,46/private/109429--291462/5217/61e95cad08f55/cash-purchase/109433--291466/48,0,10000,0,0,0,0,0,',
             'buy': True,  # else lease
             'estimate': True
            }
           )  
cars.append({'label': 'Skoda Scala',
             'instalment': 267.16,
             'government_funding': 0,
             'down_payment': down_payment_lease,
             'car_year': 2022,
             'delivery_time': 60,
             'rest_value': 8000,
             'insurance_yearly': 369.83,
             'taxes_yearly': 68,
             'consumption': 6.3,
             'power': 150,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 4.0,  
             'image_url': 'cars/skoda-scala-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/skoda/neuwagen/scala/angebote/scala-tour/konfigurator/#!/preisvergleich/tour/8868635/7,35,37,46/private/109429--291462/5217/61e95cad08f55/leasing/109433--291466/36,3000,15000,0,0,0,0,0,',
             'buy': False,  # else lease
             'estimate': True
            }
           )  


for car in cars:
    if car['buy']:
        factor = .5**(car['holding_period']/3)
        car['rest_value_thumb_value'] = r'Restwert nach Faustformel (Neupreis $\times$ %.1f\%%): %.2f \euro{}' % \
        (factor*100, car['acquisition_cost'] * factor)
    else:
        car['rest_value_thumb_value'] = r'Kein Restwert, da Leasingfahrzeug'

In [35]:
latex = ''
for car in cars:
    if car['estimate']:
        estimate_string = r'\emph{Gesch\"atzter}'
    else:
        estimate_string = r'\emph{Realer}'
        
    if car['buy']:
        label=car['label'] + ' Kaufen'
        bk_inputs = {key: car[key] for key in ['acquisition_cost', 
                                               'government_funding',
                                               'down_payment',
                                               'holding_period',
                                               'millage_yearly',
                                               'consumption',
                                               'fuel_price',
                                               'repairs_yearly',  # bis hierher Hauptkosten
                                               'interest_rate',
                                               'taxes_yearly',
                                               'insurance_yearly',
                                               'rest_value']}
        (input_values, calc_values) = Operating_Cost.buy(**bk_inputs).get_frames()
    else:
        label=car['label'] + ' Leasing'
        bk_inputs = {key: car[key] for key in ['instalment', 
                                               'government_funding',
                                               'down_payment',
                                               'holding_period',
                                               'millage_yearly',
                                               'consumption',
                                               'fuel_price',
                                               'repairs_yearly',  # bis hierher Hauptkosten
                                               'taxes_yearly',
                                               'insurance_yearly']}
        (input_values, calc_values) = Operating_Cost.lease(**bk_inputs).get_frames()
        
    input_values_path = Path('images/' + slugify(label) + '-boundaries.png')
    calc_df_path = Path('images/' + slugify(label) + '-calc_df.png')
    
    latex = r"""%s
\twocolumn

\section*{%s}
\begin{center}
\includegraphics[width=0.5\textheight]{%s}
\null
\vspace{0.5cm}
\includegraphics[width=0.5\textheight]{%s}
\end{center}

\pagebreak
\null
\vspace{2cm}
\begin{center}
\includegraphics[width=0.9\columnwidth]{%s}

%s
\end{center}

\begin{itemize}
    \item Baujahr: %d $\rightarrow$ Laufzeit: %.0f Jahre
    \item \href{%s}{Weblink}
    \item %s Spritpreis \"uber Haltedauer: %.2f \euro{}/%s
    \item Antrieb: %s, mit %d PS
    \item %s
\end{itemize}

\pagebreak

""" %(latex,
      label,
      input_values_path.as_posix(),
      calc_df_path.as_posix(),
      car['image_url'],
      label,
      car['car_year'],
      car['holding_period'],
      car['web_url'].replace('#', '\#'),
      estimate_string,
      car['fuel_price'],
      car['fuel_unit'],
      car['fuel_type'],
      car['power'],
      car['rest_value_thumb_value']
     )

    # calc_values.loc['Lieferzeit', :] = car['delivery_time']
    # calc_values.loc['Kraftstoffsorte', :] = car['fuel_type']
    # calc_values = calc_values.reindex(index = ['Lieferzeit',
    #                                            'Kraftstoffsorte',
    #                                            'Anschaffungskosten',
    #                                            'Zinsen',
    #                                            'Versicherung',
    #                                            'Steuern',
    #                                            'Reparaturen',
    #                                            'Verbrauch',
    #                                            'SUMME',
    #                                            'Restwert',
    #                                            'Summe mit Restwert'
    #                                           ])
    
    overview[label] = calc_values['Monatlich']
    
    input_values_path.parent.mkdir(parents=True, exist_ok=True)
    
    bold_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]
    light_row = pd.IndexSlice[calc_values.index[6:], :]
    
    dfi.export(input_values.round(2), str(input_values_path))
    dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))
    display(input_values.round(2))
    display(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     16903.00
Anzahlung [â‚¬]                                                  0.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                            0.00
Finanzierungszins [%]                                          0.00
Restwert [â‚¬]                                                3000.00
Versicherungskosten [â‚¬/a]                                    775.00
Steuern [â‚¬/a]                                                230.00
Verbrauch in l/100 km                                          6.38
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.19
Reparatur und Wartungskosten [â‚¬/a]                          2016.32
Jahreslaufleistung [km]                                    26000.00
Haltedauer [a]                                                 6.85
Gesamtlaufleistung [km]                                   178100.00
Finanzierungsbetrag [â‚¬]                                    16903.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                      3300.00
Anzahlung [â‚¬]                                               3300.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3300.00
Finanzierungszins [%]                                          0.00
Restwert [â‚¬]                                                2000.00
Versicherungskosten [â‚¬/a]                                    361.76
Steuern [â‚¬/a]                                                 64.00
Verbrauch in l/100 km                                          6.60
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.36
Reparatur und Wartungskosten [â‚¬/a]                           395.40
Jahreslaufleistung [km]                                     3216.00
Haltedauer [a]                                                 5.50
Gesamtlaufleistung [km]                                    17688.00
Finanzierungsbetrag [â‚¬]                                        0.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     52970.00
Anzahlung [â‚¬]                                              20000.00
davon staatliche FÃ¶rderung [â‚¬]                              5000.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                               10000.00
Versicherungskosten [â‚¬/a]                                    459.78
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         16.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    32970.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              533.00
Anzahlung [â‚¬]                                               8000.00
davon staatliche FÃ¶rderung [â‚¬]                              5000.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    566.90
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         16.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     43970.00
Anzahlung [â‚¬]                                              21000.00
davon staatliche FÃ¶rderung [â‚¬]                              6000.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                8500.00
Versicherungskosten [â‚¬/a]                                    544.00
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         15.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    22970.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              360.00
Anzahlung [â‚¬]                                               9000.00
davon staatliche FÃ¶rderung [â‚¬]                              6000.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    673.60
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         15.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     48536.05
Anzahlung [â‚¬]                                              21000.00
davon staatliche FÃ¶rderung [â‚¬]                              6000.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                8500.00
Versicherungskosten [â‚¬/a]                                    507.46
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         26.10
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    27536.05

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              455.10
Anzahlung [â‚¬]                                               9000.00
davon staatliche FÃ¶rderung [â‚¬]                              6000.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    624.53
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         26.10
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 2.00
Gesamtlaufleistung [km]                                    30000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     30643.19
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                6000.00
Versicherungskosten [â‚¬/a]                                    510.90
Steuern [â‚¬/a]                                                156.00
Verbrauch in l/100 km                                          8.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    15643.19

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              284.70
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    629.91
Steuern [â‚¬/a]                                                156.00
Verbrauch in l/100 km                                          8.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     25209.43
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                5000.00
Versicherungskosten [â‚¬/a]                                    325.99
Steuern [â‚¬/a]                                                107.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    10209.43

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              227.42
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    395.58
Steuern [â‚¬/a]                                                107.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     30230.00
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                6000.00
Versicherungskosten [â‚¬/a]                                    351.35
Steuern [â‚¬/a]                                                 98.00
Verbrauch in l/100 km                                          7.50
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    15230.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              320.78
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    423.07
Steuern [â‚¬/a]                                                 98.00
Verbrauch in l/100 km                                          7.50
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     42755.83
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                8000.00
Versicherungskosten [â‚¬/a]                                    533.68
Steuern [â‚¬/a]                                                136.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    27755.83

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              494.30
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    663.76
Steuern [â‚¬/a]                                                136.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     27619.05
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        15000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                5500.00
Versicherungskosten [â‚¬/a]                                    308.52
Steuern [â‚¬/a]                                                 68.00
Verbrauch in l/100 km                                          6.30
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    12619.05

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:111: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [â‚¬]                                              267.16
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    369.83
Steuern [â‚¬/a]                                                 68.00
Verbrauch in l/100 km                                          6.30
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/3734843737.py:114: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

In [36]:
brk = 8

overview_path_1 = 'images/overview1.png'
overview_path_2 = 'images/overview2.png'

# sum_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]

dfi.export(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_1)
dfi.export(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_2)

display(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))
display(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

latex = r"""%s

\pagebreak

\onecolumn
\null
\vfill 
%% \includegraphics[height=6cm]
\includegraphics[width=0.95\columnwidth]{%s}

\null
\vspace{0.8cm}
%% \includegraphics[height=6cm]
\includegraphics[width=0.95\columnwidth]{%s}
\vfill 
""" % (latex,
      overview_path_1,
      overview_path_2)

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/183672034.py:9: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_1)
C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/183672034.py:11: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_2)
C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/183672034.py:14: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_13964/183672034.py:16: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

In [37]:
tex_file = 'report_l.tex'
with open(tex_file, 'w') as fid:
    fid.write(r"""
\documentclass[landscape, DIV=99, 14pt]{scrartcl}

\renewcommand*{\familydefault}{\sfdefault}

\RequirePackage{graphicx}
\RequirePackage{hyperref}
\RequirePackage[gen]{eurosym}

\begin{document}

\twocolumn
\section*{Zusammenfassung BMW Kosten}
\null
\vspace{1cm}
\begin{center}
%%                           trim={<left> <lower> <right> <upper>}
\includegraphics[width=10cm, trim={4cm 0 4cm 5cm}]{images/kosten_verteilung.png}
\end{center}

\includegraphics[width=1.4\columnwidth]{images/kosten_maximus.png}

\pagebreak

\begin{itemize}
    \item Wertverlust
    \begin{itemize}
        \item Kaufpreis minus Verkaufspreis
        \item Kraftstoffe
        \item Summe aller Tankstellenbesuche
    \end{itemize}
    \item Wartung und Reparatur
    \begin{itemize}
        \item Regul\"are Wartungsarbeiten (\"Olwechsel, etc)
        \item Reparaturen Aufgrund technischer Defekte
        \item Unfallsch\"aden
    \end{itemize}
    \item Versicherung
    \begin{itemize}
        \item J\"ahrlicher Versicherungsbeitrag
        \item Mobilit\"ats-Service
    \end{itemize}
    \item Steuern
    \begin{itemize}
            \item J\"ahrliche KFZ-Steuer
    \end{itemize}
\end{itemize}

%s

\end{document}
""" % (latex))

In [38]:
os.system('pdflatex.exe .\%s' % (tex_file))
os.system('pdflatex.exe .\%s' % (tex_file))
os.system('start .\%spdf' % (tex_file[:-3]))

0

In [39]:
#with open('test_table.html', 'w') as fid:
#    fid.write(calc_values.style.applymap(df_style, subset=bold_row)\
#              .applymap(light_style, subset=light_row).set_precision(2)\
#              .to_html())
#