In [16]:
from bk import bk
import pandas as pd
import dataframe_image as dfi
from slugify import slugify
from pathlib import Path

overview = pd.DataFrame()

In [31]:
cars = [{'label': 'BMW 3er Maximus',
         'car_price': 16903,
         'interest_rate': 0.,
         'rest_value': 1500,
         'insurance': 775,
         'taxes': 230,
         'consumption': 6.38,
         'fuel_price': 1.19,
         'repairs': 2016.32,
         'millage': 26000,
         'holding': 6.85,
         'image_url': 'cars/bmw-3er-maximus.png',
}]
cars.append({'label': 'Mercedes C 220d T',
         'car_price': 28890,
         'interest_rate': 3.,
         'rest_value': 5000,
         'insurance': 775,
         'taxes': 230,
         'consumption': 6.,
         'fuel_price': 1.65,
         'repairs': 1800,
         'millage': 18000,
         'holding': 6.0,  
         'image_url': 'cars/mercedes-c-220d-t.png',
})
cars.append({'label': 'Mercedes C 200 T',
         'car_price': 29970,
         'interest_rate': 3.,
         'rest_value': 7000,
         'insurance': 775,
         'taxes': 136,
         'consumption': 8.,
         'fuel_price': 1.85,
         'repairs': 900,
         'millage': 18000,
         'holding': 6.0,  
         'image_url': 'cars/mercedes-c-200-t.png',
})
cars.append({'label': 'Tesla Model Y',
         'car_price': 51000,
         'interest_rate': 3.,
         'rest_value': 5000,
         'insurance': 775,
         'taxes': 0,
         'consumption': 16.,
         'fuel_price': .3,
         'repairs': 500,
         'millage': 18000,
         'holding': 10.0,   
         'image_url': 'cars/tesla-model-y.jpg',
})
cars.append({'label': 'Mazda 6 neu',
         'car_price': 29692,
         'interest_rate': 3.,
         'rest_value': 3000,
         'insurance': 775,
         'taxes': 136,
         'consumption': 8.,
         'fuel_price': 2.00,
         'repairs': 900,
         'millage': 18000,
         'holding': 10.0,  
         'image_url': 'cars/mazda-6-neu.png',
})
cars.append({'label': 'Kia ceed SW',
             'car_price': 26992.36,
             'interest_rate': 3.,
             'rest_value': 3000,
             'insurance': 775,
             'taxes': 136,
             'consumption': 7.,
             'fuel_price': 2.00,
             'repairs': 900,
             'millage': 18000,
             'holding': 10.0,
             'image_url': 'cars/kia-ceed-sportswagon.png',
})
cars.append({'label': 'Mazda 6 alt',
         'car_price': 22980,
         'interest_rate': 3.,
         'rest_value': 4000,
         'insurance': 775,
         'taxes': 136,
         'consumption': 8.,
         'fuel_price': 1.85,
         'repairs': 900,
         'millage': 18000,
         'holding': 4.0,  
         'image_url': 'cars/mazda-6-alt.png',
})
#cars

In [32]:
for car in cars:
    label=car['label']
    (input_values, calc_values) = bk(car['car_price'],
                                     car['insurance'],
                                     car['taxes'],
                                     car['consumption'],
                                     car['fuel_price'],
                                     car['repairs'],
                                     car['millage'],
                                     car['holding'],
                                     label=label,
                                     rest_value=car['rest_value'])
    #display(input_values.round(2))
    #display(calc_values.round(2))
    #overview[label] = calc_values['Monatlich']
    #dfi.export(input_values, 'images/' + slugify(label) + '-boundaries.png')
    #dfi.export(calc_values,  'images/' + slugify(label) + '-calc_df.png')
    print(Path(car['image_url']).exists())

True
True
True
True
True
True
True

In [15]:
display(overview.round(2))

dfi.export(overview, 'images/overview.png')

,BMW 3er Maximus,Mercedes C 220d T,Mercedes C 200 T,Tesla Model Y,Mazda 6 neu,Mazda 6 alt,Kia ceed Sportswagon
Anschaffungskosten,205.63,401.25,416.25,425.00,247.43,478.75,224.94
Zinsen,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Versicherung,64.58,64.58,64.58,64.58,64.58,64.58,64.58
Steuern,19.17,19.17,11.33,0.00,11.33,11.33,11.33
Reparaturen,168.03,150.00,75.00,41.67,75.00,75.00,75.00
Verbrauch,164.50,148.50,222.00,72.00,240.00,222.00,210.00
SUMME,621.91,783.50,789.17,603.25,638.35,851.67,585.85
Restwert,-18.25,-69.44,-97.22,-41.67,-25.00,-83.33,-25.00
Summe mit Restwert,603.66,714.06,691.94,561.58,613.35,768.33,560.85