In [61]:
from bk import bk
import pandas as pd
import dataframe_image as dfi
from slugify import slugify
from pathlib import Path

overview = pd.DataFrame()
overview.name='Monatliche Kosten im Verlgeich'

In [62]:
cars = [{'label': 'BMW 3er Maximus',
         'car_price': 16903,
         'interest_rate': 0.,
         'rest_value': 1500,
         'insurance': 775,
         'taxes': 230,
         'consumption': 6.38,
         'fuel_price': 1.19,
         'repairs': 2016.32,
         'millage': 26000,
         'holding': 6.85,
         'image_url': 'cars/bmw-3er-maximus.png',
}]
cars.append({'label': 'Mercedes C 220d T',
         'car_price': 28890,
         'interest_rate': 3.,
         'rest_value': 5000,
         'insurance': 775,
         'taxes': 230,
         'consumption': 6.,
         'fuel_price': 1.65,
         'repairs': 1800,
         'millage': 18000,
         'holding': 6.0,  
         'image_url': 'cars/mercedes-c-220d-t.png',
})
cars.append({'label': 'Mercedes C 200 T',
         'car_price': 29970,
         'interest_rate': 3.,
         'rest_value': 7000,
         'insurance': 775,
         'taxes': 136,
         'consumption': 8.,
         'fuel_price': 1.85,
         'repairs': 900,
         'millage': 18000,
         'holding': 6.0,  
         'image_url': 'cars/mercedes-c-200-t.png',
})
cars.append({'label': 'Tesla Model Y',
         'car_price': 51000,
         'interest_rate': 3.,
         'rest_value': 5000,
         'insurance': 775,
         'taxes': 0,
         'consumption': 16.,
         'fuel_price': .3,
         'repairs': 500,
         'millage': 18000,
         'holding': 10.0,   
         'image_url': 'cars/tesla-model-y.jpg',
})
cars.append({'label': 'Mazda 6 neu',
         'car_price': 29692,
         'interest_rate': 3.,
         'rest_value': 3000,
         'insurance': 775,
         'taxes': 136,
         'consumption': 8.,
         'fuel_price': 2.00,
         'repairs': 900,
         'millage': 18000,
         'holding': 10.0,  
         'image_url': 'cars/mazda-6-neu.png',
})
cars.append({'label': 'Kia ceed SW',
             'car_price': 26992.36,
             'interest_rate': 3.,
             'rest_value': 3000,
             'insurance': 775,
             'taxes': 136,
             'consumption': 7.,
             'fuel_price': 2.00,
             'repairs': 900,
             'millage': 18000,
             'holding': 10.0,
             'image_url': 'cars/kia-ceed-sportswagon.png',
})
cars.append({'label': 'Mazda 6 alt',
         'car_price': 22980,
         'interest_rate': 3.,
         'rest_value': 4000,
         'insurance': 775,
         'taxes': 136,
         'consumption': 8.,
         'fuel_price': 1.85,
         'repairs': 900,
         'millage': 18000,
         'holding': 4.0,  
         'image_url': 'cars/mazda-6-alt.png',
})
#cars

In [63]:
latex = ''
for car in cars:
    label=car['label']
    (input_values, calc_values) = bk(car['car_price'],
                                     car['insurance'],
                                     car['taxes'],
                                     car['consumption'],
                                     car['fuel_price'],
                                     car['repairs'],
                                     car['millage'],
                                     car['holding'],
                                     label=label,
                                     interest_rate=car['interest_rate'],
                                     rest_value=car['rest_value'])
    
    input_values_path = 'images/' + slugify(label) + '-boundaries.png'
    calc_df_path = 'images/' + slugify(label) + '-calc_df.png'
    
    latex = r"""%s
\twocolumn
\null
\vfill 
\includegraphics[width=\columnwidth]{%s}
\vfill 

\pagebreak

\null
\vfill 
\includegraphics[width=\columnwidth]{%s}
\vfill 

\pagebreak

\onecolumn
\null
\vfill 
\begin{center}
\includegraphics[width=0.6\columnwidth]{%s}
\end{center}
\vfill 
    """ %(latex,
          input_values_path,
          car['image_url'],
          calc_df_path
         )

    overview[label] = calc_values['Monatlich']
    dfi.export(input_values.round(2), input_values_path)
    dfi.export(calc_values.round(2), calc_df_path)

In [64]:
display(overview.round(2))

overview_path = 'images/overview.png'
dfi.export(overview.round(2), overview_path)
latex = r"""%s

\pagebreak

\onecolumn
\null
\vfill 
\begin{center}
\includegraphics[width=0.95\columnwidth]{%s}
\end{center}
\vfill 
""" % (latex,
      overview_path)

,BMW 3er Maximus,Mercedes C 220d T,Mercedes C 200 T,Tesla Model Y,Mazda 6 neu,Kia ceed SW,Mazda 6 alt
Anschaffungskosten,205.63,401.25,416.25,425.00,247.43,224.94,478.75
Zinsen,0.00,37.70,39.10,67.46,39.27,35.70,29.90
Versicherung,64.58,64.58,64.58,64.58,64.58,64.58,64.58
Steuern,19.17,19.17,11.33,0.00,11.33,11.33,11.33
Reparaturen,168.03,150.00,75.00,41.67,75.00,75.00,75.00
Verbrauch,164.50,148.50,222.00,72.00,240.00,210.00,222.00
SUMME,621.91,821.20,828.27,670.71,677.62,621.56,881.56
Restwert,-18.25,-69.44,-97.22,-41.67,-25.00,-25.00,-83.33
Summe mit Restwert,603.66,751.75,731.05,629.04,652.62,596.56,798.23

In [65]:
with open('report.tex', 'w') as fid:
    fid.write(r"""
\documentclass[landscape, DIV=99]{scrartcl}

\RequirePackage{graphicx}

\begin{document}

%s

\end{document}
""" % (latex))