In [13]:
from bk import Operating_Cost
import pandas as pd
import dataframe_image as dfi
from slugify import slugify
from pathlib import Path

overview = pd.DataFrame()
overview.name='Monatliche Kosten im Verlgeich'

def df_style(val):
    # return "font-weight: bold; background: yellow"
    return "font-weight: bold;"

def light_style(val):
    return "color: grey"

In [14]:
#d_0 = 1.52  # Aktueller Dieselpreis 3.1.2022: 1.52
b_0 = 1.70  # Aktueller Benzinpreis 3.1.2022: 1.56
e_0 = 0.31  # Aktueller Strompreis 3.1.2022: 0.31 â‚¬/kWh

cars = []          
cars.append({'label': 'Tesla Model Y',
             'acquisition_cost': 52970,
             'government_funding': 5000,
             'down_payment': 15000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 9000,
             'insurance_yearly': 541.02,
             'taxes_yearly': 0,
             'consumption': 16.,
             'power': 514,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/tesla-model-y.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview',
             'buy': True  # else lease
})             
cars.append({'label': 'Tesla Model Y',
             'instalment': 379,
             'government_funding': 5000,
             'down_payment': 15000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 9000,
             'insurance_yearly': 541.02,
             'taxes_yearly': 0,
             'consumption': 16.,
             'power': 514,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 4.0,   
             'image_url': 'cars/tesla-model-y-leasing.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview',
             'buy': False  # else lease
})             
cars.append({'label': 'Tesla Model 3',
             'acquisition_cost': 43970,
             'government_funding': 6000,
             'down_payment': 13000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 8500,
             'insurance_yearly': 601.02,
             'taxes_yearly': 0,
             'consumption': 15.,
             'power': 325,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/tesla-model-3.jpg',
             'web_url': 'https://www.tesla.com/de_de/model3/design#overview',
             'buy': True  # else lease
})          
cars.append({'label': 'Tesla Model 3',
             'instalment': 272,
             'government_funding': 6000,
             'down_payment': 13000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 8500,
             'insurance_yearly': 601.02,
             'taxes_yearly': 0,
             'consumption': 15.,
             'power': 325,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 4.0,   
             'image_url': 'cars/tesla-model-3-leasing.jpg',
             'web_url': 'https://www.tesla.com/de_de/model3/design#overview',
             'buy': False  # else lease
})
cars.append({'label': 'Mazda 6',
             'acquisition_cost': 30643.19,
             'government_funding': 0,
             'down_payment': 10000,
             'car_year': 2022,
             'delivery_time': 20,
             'interest_rate': 2.,
             'rest_value': 6000,
             'insurance_yearly': 601.16,
             'taxes_yearly': 136,
             'consumption': 8.,
             'power': 192,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,  
             'image_url': 'cars/mazda-6-neu.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11/private/65352-5416-204698/984/61c9aa657e74c/cash-purchase/32545--287374/48,0,10000,0,0,0,0,0,',
             'buy': True  # else lease
})
cars.append({'label': 'Mazda 6',
             'instalment': 284.70,
             'government_funding': 0,
             'down_payment': 3000,
             'car_year': 2022,
             'delivery_time': 60,
             'interest_rate': 3.,
             'rest_value': 3000,
             'insurance_yearly': 601.16,
             'taxes_yearly': 136,
             'consumption': 8.,
             'power': 192,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3,  
             'image_url': 'cars/mazda-6-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11,15/private/65352-5416-204698/984/61c9aa657e74c/leasing/16040--249432/36,3000,15000,0,0,0,0,0,',
             'buy': False  # else lease
})
cars.append({'label': 'Kia ceed',
             'acquisition_cost': 25209.43,
             'government_funding': 0,
             'down_payment': 10000,
             'car_year': 2022,
             'delivery_time': 52,
             'interest_rate': 3.,
             'rest_value': 5000,
             'insurance_yearly': 381.08,
             'taxes_yearly': 136,
             'consumption': 7.,
             'power': 160,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,
             'image_url': 'cars/kia-ceed-sportswagon.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/extras/spirit/8865371/3,11,27/private/109347-4167-291321/1321/61d21ce73c5db/cash-purchase/109348-8088-291322/48,0,10000,0,0,0,0,0,',
             'buy': True  # else lease
})
cars.append({'label': 'Kia ceed',
             'instalment': 227.42,
             'government_funding': 0,
             'down_payment': 3000,
             'car_year': 2022,
             'delivery_time': 52,
             'interest_rate': 3.,
             'rest_value': 3000,
             'insurance_yearly': 381.08,
             'taxes_yearly': 136,
             'consumption': 7.,
             'power': 160,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3.0,
             'image_url': 'cars/kia-ceed-sportswagon-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/extras/spirit/8865371/3,11,27/private/109347-4167-291321/1321/61d21ce73c5db/leasing/109348-8088-291322/36,3000,15000,0,0,0,0,0,',
             'buy': False  # else lease
})

In [15]:
latex = ''
for car in cars:
    if car['buy']:
        label=car['label'] + ' Kaufen'
        bk_inputs = {key: car[key] for key in ['acquisition_cost', 
                                               'government_funding',
                                               'down_payment',
                                               'holding_period',
                                               'millage_yearly',
                                               'consumption',
                                               'fuel_price',
                                               'repairs_yearly',  # bis hierher Hauptkosten
                                               'interest_rate',
                                               'taxes_yearly',
                                               'insurance_yearly',
                                               'rest_value']}
        (input_values, calc_values) = Operating_Cost.buy(**bk_inputs).get_frames()
    else:
        label=car['label'] + ' Leasing'
        bk_inputs = {key: car[key] for key in ['instalment', 
                                               'government_funding',
                                               'down_payment',
                                               'holding_period',
                                               'millage_yearly',
                                               'consumption',
                                               'fuel_price',
                                               'repairs_yearly',  # bis hierher Hauptkosten
                                               'taxes_yearly',
                                               'insurance_yearly']}
        (input_values, calc_values) = Operating_Cost.lease(**bk_inputs).get_frames()
        
    input_values_path = Path('images/' + slugify(label) + '-boundaries.png')
    calc_df_path = Path('images/' + slugify(label) + '-calc_df.png')
    
    latex = r"""%s
\twocolumn

\section*{%s}
\begin{center}
\includegraphics[width=0.5\textheight]{%s}
\null
\vspace{0.5cm}
\includegraphics[width=0.5\textheight]{%s}
\end{center}

\pagebreak
\null
\vspace{2cm}
\begin{center}
\includegraphics[width=0.9\columnwidth]{%s}

%s
\end{center}

\begin{itemize}
    \item Baujahr: %d $\rightarrow$ Laufzeit: %.0f Jahre
    \item \href{%s}{Weblink}
    \item \emph{Gesch\"atzter} Spritpreis \"uber Haltedauer: %.2f \euro{}/l
    \item Antrieb: %s, mit %d PS
\end{itemize}

\pagebreak

""" %(latex,
      label,
      input_values_path.as_posix(),
      calc_df_path.as_posix(),
      car['image_url'],
      label,
      car['car_year'],
      car['holding_period'],
      car['web_url'].replace('#', '\#'),
      car['fuel_price'],
      car['fuel_type'],
      car['power']
     )

    # calc_values.loc['Lieferzeit', :] = car['delivery_time']
    # calc_values.loc['Kraftstoffsorte', :] = car['fuel_type']
    # calc_values = calc_values.reindex(index = ['Lieferzeit',
    #                                            'Kraftstoffsorte',
    #                                            'Anschaffungskosten',
    #                                            'Zinsen',
    #                                            'Versicherung',
    #                                            'Steuern',
    #                                            'Reparaturen',
    #                                            'Verbrauch',
    #                                            'SUMME',
    #                                            'Restwert',
    #                                            'Summe mit Restwert'
    #                                           ])
    
    overview[label] = calc_values['Monatlich']
    
    input_values_path.parent.mkdir(parents=True, exist_ok=True)
    
    bold_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]
    light_row = pd.IndexSlice[calc_values.index[6:], :]
    
    dfi.export(input_values.round(2), str(input_values_path))
    dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))
    display(input_values.round(2))
    display(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2))

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     52970.00
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                              5000.00
Reale Anzahlung [â‚¬]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                9000.00
Versicherungskosten [â‚¬/a]                                    541.02
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         16.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    37970.00

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Leasingrate [â‚¬]                                              379.00
Anzahlung [â‚¬]                                              15000.00
davon staatliche FÃ¶rderung [â‚¬]                              5000.00
Reale Anzahlung [â‚¬]                                        10000.00
Versicherungskosten [â‚¬/a]                                    541.02
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         16.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     43970.00
Anzahlung [â‚¬]                                              13000.00
davon staatliche FÃ¶rderung [â‚¬]                              6000.00
Reale Anzahlung [â‚¬]                                         7000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                8500.00
Versicherungskosten [â‚¬/a]                                    601.02
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         15.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    30970.00

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Leasingrate [â‚¬]                                              272.00
Anzahlung [â‚¬]                                              13000.00
davon staatliche FÃ¶rderung [â‚¬]                              6000.00
Reale Anzahlung [â‚¬]                                         7000.00
Versicherungskosten [â‚¬/a]                                    601.02
Steuern [â‚¬/a]                                                  0.00
Verbrauch in l/100 km                                         15.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             0.31
Reparatur und Wartungskosten [â‚¬/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     30643.19
Anzahlung [â‚¬]                                              10000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [â‚¬]                                                6000.00
Versicherungskosten [â‚¬/a]                                    601.16
Steuern [â‚¬/a]                                                136.00
Verbrauch in l/100 km                                          8.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    20643.19

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Leasingrate [â‚¬]                                              284.70
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    601.16
Steuern [â‚¬/a]                                                136.00
Verbrauch in l/100 km                                          8.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Anschaffungskosten [â‚¬]                                     25209.43
Anzahlung [â‚¬]                                              10000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                        10000.00
Finanzierungszins [%]                                          3.00
Restwert [â‚¬]                                                5000.00
Versicherungskosten [â‚¬/a]                                    381.08
Steuern [â‚¬/a]                                                136.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [â‚¬]                                    15209.43

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

<ipython-input-15-2da7e512e464>:101: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

                                                    Randbedingungen
Leasingrate [â‚¬]                                              227.42
Anzahlung [â‚¬]                                               3000.00
davon staatliche FÃ¶rderung [â‚¬]                                 0.00
Reale Anzahlung [â‚¬]                                         3000.00
Versicherungskosten [â‚¬/a]                                    381.08
Steuern [â‚¬/a]                                                136.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis Ã¼ber Haltedauer [...             1.70
Reparatur und Wartungskosten [â‚¬/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

<ipython-input-15-2da7e512e464>:104: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(calc_values.style.applymap(df_style, subset=bold_row)\

In [16]:
brk = 8

overview_path_1 = 'images/overview1.png'
overview_path_2 = 'images/overview2.png'

# sum_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]

dfi.export(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_1)
dfi.export(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_2)

display(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))
display(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

latex = r"""%s

\pagebreak

\onecolumn
\null
\vfill 
\begin{center}
\includegraphics[width=0.95\columnwidth]{%s}
\null
\vspace{0.5cm}
%% \includegraphics[width=0.95\columnwidth]{%s}
\end{center}
\vfill 
""" % (latex,
      overview_path_1,
      overview_path_2)

<ipython-input-16-020bbe2b6b03>:8: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
<ipython-input-16-020bbe2b6b03>:10: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
<ipython-input-16-020bbe2b6b03>:13: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\

<ipython-input-16-020bbe2b6b03>:15: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  display(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\

In [17]:
with open('report_l.tex', 'w') as fid:
    fid.write(r"""
\documentclass[landscape, DIV=99, 14pt]{scrartcl}

\renewcommand*{\familydefault}{\sfdefault}

\RequirePackage{graphicx}
\RequirePackage{hyperref}
\RequirePackage[gen]{eurosym}

\begin{document}

%s

\end{document}
""" % (latex))